@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'normalize.css';

:root {
    --highlight-color: #909;
    --hover-color: #aaa;
    --gutter-height: 50px;
}

* {
  box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    background: black;
}

p {
    margin: 0;
}

input[type=text] {
    background-color: transparent;
    color: #fff;
}

input[type=text]:focus {
    outline-style: none;
    background: linear-gradient(to right, var(--highlight-color) 0%, transparent 110%);
}

button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

input[type=checkbox] {
    cursor: pointer;
}
